# Checking occurrance numbers

Becuase occurrance ids might have several rows of associated data, we are checking how often this happens.

In [2]:
# Dependencies
import pandas as pd
from pathlib import Path

In [3]:
# Read in datasets and merge them into a single df
# Create empty df to store data
all_data = pd.read_csv('resources/mci_all.csv')
all_data.head()

,_id,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,...,LOCATION_TYPE,PREMISES_TYPE,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140
0,1,GO-20141262074,2014-01-01,1998-06-01,2014,January,1,1,Wednesday,12.0,...,"Apartment (Rooming House, Condo)",Apartment,1480,110,Administering Noxious Thing,Assault,38,Lansing-Westgate,38,Lansing-Westgate (38)
1,2,GO-20141260701,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,3.0,...,"Commercial Dwelling Unit (Hotel, Motel, B & B,...",Commercial,2120,200,B&E,Break and Enter,70,South Riverdale,70,South Riverdale (70)
2,3,GO-20141260889,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,4.0,...,"Apartment (Rooming House, Condo)",Apartment,1430,100,Assault,Assault,74,North St.James Town,74,North St.James Town (74)
3,4,GO-20141260973,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,4.0,...,"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,2130,210,Theft Over,Theft Over,NSA,NSA,NSA,NSA
4,5,GO-20141261050,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,4.0,...,"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,1430,100,Assault,Assault,69,Blake-Jones,66,Danforth (66)

In [8]:
no_duplicates_df = all_data.drop_duplicates(['EVENT_UNIQUE_ID', 'OFFENCE'])

# confirm that there are no duplicates of the same event and offence
no_duplicates_df[['EVENT_UNIQUE_ID', 'OFFENCE']].value_counts(ascending=False)

EVENT_UNIQUE_ID  OFFENCE
GO-20141035797   Assault                   1
GO-20201253785   B&E                       1
GO-2020125466    Assault Bodily Harm       1
GO-20201254652   Theft Of Motor Vehicle    1
GO-20201254386   Theft Of Motor Vehicle    1
                                          ..
GO-20171529777   Assault                   1
GO-20171529763   Theft Of Motor Vehicle    1
GO-20171529587   B&E                       1
GO-20171529586   Assault                   1
GO-2022999907    Assault                   1
Length: 299830, dtype: int64

In [5]:
no_duplicates_df.to_csv(Path('resources', 'mci_no_duplicates_all.csv'), index = False)


---

## Check occurrance year counts

In [9]:
# Check counts of occurance year

df_by_year = (no_duplicates_df
    .groupby('OCC_YEAR')
    .size()
)
df_by_year

    OCC_YEAR  Number of events
0     2000.0                27
1     2001.0                20
2     2002.0                18
3     2003.0                13
4     2004.0                25
5     2005.0                26
6     2006.0                12
7     2007.0                31
8     2008.0                44
9     2009.0                70
10    2010.0                95
11    2011.0               129
12    2012.0               185
13    2013.0               566
14    2014.0             30202
15    2015.0             30641
16    2016.0             31157
17    2017.0             32790
18    2018.0             34772
19    2019.0             37114
20    2020.0             32456
21    2021.0             32114
22    2022.0             37226

In [10]:
# Keep only 2014 and over
over_2014_df = (no_duplicates_df
    .loc[no_duplicates_df['OCC_YEAR'] >= 2014]
)
over_2014_df.groupby('OCC_YEAR').size()

OCC_YEAR
2014.0    30202
2015.0    30641
2016.0    31157
2017.0    32790
2018.0    34772
2019.0    37114
2020.0    32456
2021.0    32114
2022.0    37226
dtype: int64

In [11]:
# save data from 2014 and over
over_2014_df.to_csv(Path('resources', 'mci_no_duplicates_2014_and_over.csv'), index=False)